<html>
   
   <head>
      <title>Gettin better !!!</title>
      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}"> 
      <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
   </head>
   
   <body>
      <h1>Gettin better !!!</h1>
      <h1>Gettin better !!!</h1>
      <h1>Gettin better !!!</h1>
      
         
      <script 
         src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>

      <input type = "button" onclick = "sayHello()" value = "Say Hello !" />
            <br>
      <input type = "button" onclick = "sayGoodbye()" value = "Say Goodbye !" />

   
      <p id="hello">hello</p>



      <p id="demo">A Paragraph.</p>
      
      <button onclick="sayHello()">Say Hello</button>
         <br><br> 
      <button onclick="sayGoodbye()">Say Goodbye</button>
      <script 
         src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      
   
   </body>
         
         <p dir="ltr" style="text-align:left;"><a href="/login" title="login">Login Page</a></p>
         <p dir="ltr" style="text-align:left;"><a href="/contatos" title="contatos">Contacts Page</a></p>
         <p dir="ltr" style="text-align:left;"><a href="/hello" title="hello">Hello Page</a></p>
         <p dir="ltr" style="text-align:left;"><a href="/about" title="about">About Page</a></p>
   

</html>


